@{
    ViewBag.Title = "Potwierdź email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękuje za potwierdzenie emaila. @Html.ActionLink("Kliknij tutaj, żeby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
